## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [37]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [38]:
x = x.replace(" ","").capitalize()
print(x)

Diclorodifeniltricloroetanodichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [39]:
A, B, C, D = 'word', 15, 3.14, 'list'
print(A,B,C,D,sep=" ")

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [53]:
w,h = input("My weihgt and my height are: ").split()
my_BMI = float(w)/float(h)**2
print(my_BMI)

My weihgt and my height are:  62 1.75

20.244897959183675

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [55]:
if my_BMI <= 18.5:
    print("Underweight")
elif my_BMI <= 24.9:
    print("Normal weight")
elif my_BMI <= 29.9:
    print("Pre-obesity")
elif my_BMI <= 34.9:
    print("Obesity class I")
elif my_BMI <= 39.9:
    print("Obesity class II")
else: 
    print("Obesity class III")

Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [33]:
num = int(input("Give a number: "))
fact = 1
for i in range(1,num+1):
    fact *= i
print(f"{num}! = {fact}")

Give a number:  5

5! = 120

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [39]:
sum_numbers, number = 0, 0
while number != -1:
    sum_numbers += number
    number = int(input("Enter an integer: "))
print(f"Sum of numbers = {sum_numbers}")

Enter an integer:  290
Enter an integer:  23456
Enter an integer:  9876
Enter an integer:  2987
Enter an integer:  71287
Enter an integer:  12367
Enter an integer:  37
Enter an integer:  -2
Enter an integer:  -7
Enter an integer:  -7
Enter an integer:  -1

Sum of numbers = 120284

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [1]:
name, workh, salh = input("First Name, Amount of hours worked, Salary per hour: ").split(",")
total_salary = float(workh)*float(salh)
print:(total_salary)
##I thought that it should work but no! Why?

First Name, Amount of hours worked, Salary per hour:  Christos, 32, 37

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [3]:
A,B,C = float(2), float(3), float(7)
print(A,B,C)

2.0 3.0 7.0

    a) the area of the triangle rectangle with A as the base and C as the height.

In [4]:
print("Triangle(Area):", A*C/2)

Triangle(Area): 7.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [5]:
print("Cicle of radius(Area):", 3.14159*C)

Cicle of radius(Area): 21.99113

    c) the area of the trapezoid that has A and B for bases and C for height.

In [7]:
print("Trapezoid Area:", (A+B)*C/2)

Trapezoid Area: 17.5

    d) the area of the square that has side B.

In [10]:
print("Square Area:", B**2)

Square Area: 9.0

    e) the area of the rectangle that has sides A and B.

In [11]:
print("Rectangle Area:", A*B)

Rectangle Area: 6.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [4]:
##Sorry but I couldn't solve it. It is too much maths for me!

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [8]:
x1, y1 = [float(i) for i in input("x1 and y1: ").split(",")]
x2, y2 = [float(i) for i in input("x2 and y2: ").split(",")]
d = ((x1-x2)**2+(y1-y2)**2)**0.5
print(f"d = {d}")
##Too much maths for me, again! But I think I did it right!

x1 and y1:  1,2
x2 and y2:  3,4

d = 2.8284271247461903

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [7]:
x, y = [float(x) for x in input("Enter x and y: ").split(",")]

if x == 0 and y == 0:
    print('origin')
elif x == 0:
    print('y axis')
elif y == 0:
    print('x axis')
elif x > 0 and y > 0:
    print('q1')
elif x > 0:
    print('q4')
elif y > 0:
    print('q2')
else:
    print('q3')

Enter x and y:  3,8

q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [8]:
import pandas
df = pandas.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(15)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353

In [8]:
country_code = int(input("Calling code:"))
country = {43:'Austria',
             32:'Belgium',
             359:'Bulgaria',
             385:'Croatia',
             357:'Cyprus',
             420:'Czech Republic',
             45:'Denmark',
             372:'Estonia',
             358:'Finland',
             33:'France',
           }
if country_code in country.keys():
    print(country[country_code])
else:
    print("Country not included")

Calling code: 43

Austria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [42]:
numbers_in_row = [float(x) for x in input("Enter 6 numbers: ").split(",")]

positive, total = 0, 0
for i in numbers_in_row:
    total += i
    if i > 0:
        positive += 1
print(f"{positive} positive numbers")
print(f"Average = {total/6}")

Enter 6 numbers:  1,2,3,4,5,6

6 positive numbers
Average = 3.5

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [18]:
N = int(input("Number N: "))
for i in range(1,N+1):
    if i%2==0:
        print(i**2)

Number N:  17

4
16
36
64
100
144
196
256

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [44]:
number = int(input('Give a number:'))
class_1 = "even" if number%2 == 0 else "odd"
class_2 = 'positive' if number == abs(number) else 'negative' 
if number == 0:
    print("Null")
else:
    print(class_1, class_2)

Give a number: 97

odd positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [3]:
numbers = [int(x) for x in input("Enter 6 numbers:").split(",")]
changed = True
while changed:
    changed = False
    for i in range(0,len(numbers)-1):
            changed = True
print(([str(x) for x in numbers]))
##Really difficult for me!

Enter 6 numbers: 1,4,3,5,6,7

KeyboardInterrupt: